body {
    text-align: center;
    background-color: black;
    text-decoration-color: black;
}

imageavengerstitle {
    width: 500px;
    height: 400px;
}

imagethanos {
    width: 500px;
    height: 350px;
}

imageBlackpanther {
    width: 269px;
    height: 187px;

}

imageBlackpanther1 {
    width: 201px;
    height: 251px;

}
